
/* footer */
.footerGrid{
    color: #3f8f35;
    font-size: small;
    grid-area: footerGrid;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    text-decoration: none;
}


.formulario{
    display: flex;
    justify-content: center;
    padding: 50px;
    color: #ffffff;

}